body {
  font-family: sans-serif;
  color: #09F;
  background-color: #000;
}

#message-board {

}

#message-board .message-block {
  width: 300px;
  padding: 20px;
  margin: 15px 0;
  border: 2px dashed #09F;
}

#message-board .username {
  margin: 10px;
}

#message-board .message-text {
  margin: 10px;
}

#form {
  width: 300px;
  padding: 20px;
  border: 2px solid blue;
  display: inline-block;
  margin: auto;
}

form {}

form input, form textarea {
  margin: 10px;
  padding: 5px;
  color: #09F;
  background-color: #000;
  border: 2px solid #09F;
}

form #submit-button:hover {
  color: #FFF;
  background-color: #09F;
}

form #submit-button[disabled] {
	color: grey;
	border-color: grey;
	background-color: #000;
}
