.base-colors,
body,
form input,
form textarea,
form #send-button {
  color: #0099FF;
  background-color: #000000;
}
body {
  font-family: sans-serif;
}
#logo {
  color: white;
  background-color: #003e56;
  display: inline-block;
  float: left;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 8px 2px;
  padding: 2px 4px 1px 4px;
}
#message-board {
  margin-top: 150px;
  display: block;
}
#message-board.admin {
  margin-top: 10px;
  display: block;
}
#message-board .username {
  margin: 10px;
}
#message-board .message-block {
  width: 40%  ;
  padding: 20px;
  margin: 10px auto;
  border: 2px dashed #09F;
}
#message-board .message-text {
  margin: 10px;
}
#control-panel {
  position: fixed;
  width: 100%;
  top: 0;
}
#control-panel #form {
  width: 75%;
  display: block;
  margin: auto;
}
form input,
form textarea,
form #send-button {
  display: block;
  padding: 5px;
  border: 2px solid #0099FF;
}
form div.wrapper {
  border: 2px solid blue;
  padding: 10px 10px;
  margin: 0px;
  display: table;
  width: 100%;
}
form div.wrapper div.left-side {
  vertical-align: top;
  display: table-cell;
  width: 199px;
  padding: 0;
}
form div.wrapper div.left-side #name-field {
  display: block;
  margin: 0 0 10px 0;
}
form div.wrapper div.left-side #send-button {
  width: 185px;
  display: block;
  cursor: pointer;
}
form div.wrapper div.left-side #send-button.passive {
  background-color: #5a5a5a;
  color: #d4d4d4;
}
form div.wrapper div.left-side #send-button:hover {
  color: #FFF;
  background-color: #09F;
}
form div.wrapper div.right-side {
  display: table-cell;
  padding: 0 12px 0 10px;
}
form div.wrapper div.right-side #message-field {
  width: 100%;
  height: 57px;
}
#scroll-top {
  position: fixed;
  bottom: 10px;
  right: 100px;
  width: 130px;
  display: none;
  text-align: center;
  background-color: #0061a2;
  color: #bde4ff;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}
/* Registration form */
#register-link,
#login-link,
#logged-user,
#control-panel #logout {
  display: inline-block;
  text-align: right;
  float: right;
  cursor: pointer;
  font-size: 15px;
  margin: 10px 2px;
  padding: 2px;
}
#logged-user {
  color: grey;
}
#register-link:hover,
#login-link:hover {
  margin: 8px 0;
  border: 2px dashed #09F;
}
#popup-form-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
}
#reg-form-container,
#login-form-container {
  display: none;
  margin: 10% auto;
  width: 300px;
  border: 2px solid #0099FF;
  background-color: #212121;
}
#reg-form-container form,
#login-form-container form {
  margin: 10px auto;
  padding: 20px 20px;
  text-align: center;
  display: block;
}
#reg-form-container form > *,
#login-form-container form > * {
  margin: 10px auto;
}
#reg-submit,
#login-submit {
  width: 100px;
  padding: 10px;
  border: 2px solid #0099FF;
  cursor: pointer;
}
#reg-submit:hover,
#login-submit:hover {
  background-color: lime;
}
#logout {
  cursor: pointer;
}
